extends ../layouts/default

block css
	link(href='//rawgit.com/kni-labs/rrssb/master/css/rrssb.css', rel="stylesheet")
	
block js
	script(src='//rawgit.com/kni-labs/rrssb/master/js/rrssb.min.js')
		
block content
	#fullpage
		.section.container
			h1.m-b-2.strike-title Contact
		
			.row
				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.hidden-sm-down
					include ../includes/address
					
				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
					.row.m-r-1: .col-xs-12
						ul.rrssb-buttons.btn-group
							each social in socials
								li
									a(href=social.url
									role="button"
									type="button"
									target="_blank"
									rel="nofollow"
									itemprop="sameAs"
									class="btn-#{ social.network }" style="padding: 5px 10px").btn.btn-inverse
										i.fa(class="fa-#{ social.network }")
									
					.row.m-t-1.m-r-2: .col-xs-12
						if enquirySubmitted
							.card.card-inverse.card-success.card-block
								p.card-text Thanks for getting in touch. iLox Studio will contact you as soon
						else
							form(method='post').hidden-sm-down
								input(type='hidden', name='action', value='contact')
								.row
									.col-xs-6.form-group(class=validationErrors.name ? 'has-error' : null)
										label.sr-only Name
										input(type='text', name='name.full', placeholder="Name", value=formData['name.full']).form-control
		
									.col-xs-6.form-group(class=validationErrors.email ? 'has-error' : null)
										label.sr-only Email
										input(type='email', name='email', placeholder="Email", value=formData.email).form-control
								.form-group(class=validationErrors.message ? 'has-error' : null)
									label.sr-only Message
									textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
								.form-actions
									button(type='submit').btn.btn-primary.btn-block Send
							small.text-muted.pull-xs-right Or email us at: 
								a(itemprop="email", href='mailto:mail@iloxstudio.com') mail@iloxstudio.com
									
									
					.m-t-2.text-xs-center
						a.text-xs-center(itemprop="telephone", href="tel:+6-012-218-5583", target="_blank", rel="nofollow"): h3 +60 12 218 5583
							a(href="whatsapp://send?text=Hello", target="_blank",
							rel="nofollow",
							role="button",
							type="button",
							itemprop="sameAs").btn.btn-link.btn-whatsapp
								i.fa.fa-whatsapp
								
								
		.section.container.hidden-md-up
			.row
				.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
					include ../includes/address
