#navbar.nav.navbar.navbar-dark.navbar-fixed-top
	.container-fluid: .row
		.col-xs-12
			a.navbar-brand(href="/") iLox Studio
			span.lnr.lnr-menu.pull-right.navbar-toggler.hidden-sm-up(type="button"
			data-toggle="collapse"
			data-target="#nav")
			#nav.collapse.navbar-toggleable-xs.pull-right
				ul.nav.navbar-nav
					each link in navLinks
						if link.subLinks
							li.nav-item(class=(section == link.key ? 'active' : null)).dropdown
								a( 
								data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle= link.label
									ul.dropdown-menu(style="background: #e43244")
										each subLink in link.subLinks
											li.nav-item(class=(section == subLink.key ? 'active' : null))
												a(href=subLink.href).nav-link= subLink.label
						else 
							li.nav-item(class=(section == link.key ? 'active' : null))
								a(href=link.href).nav-link= link.label
